<footer class="container-fluid border-top position-relative bottom-0 start-50 translate-middle-x bg-white">
  <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
    <div class="col-md-4 d-flex align-items-center">
      <svg class="bi" width="30" height="24"></svg>
      <span class="text-muted">© 2022 <a href="https://www.dillysports.com.br/" target="_blank">Dilly Sports</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted"
          href="https://www.linkedin.com/company/dilly-nordeste-ind-de-cal%C3%A7ados/" target="_blank"><i
            class="fa-brands fa-linkedin-in"></i></a></li>
      <li><svg class="bi" width="30" height="24"></svg></li>
    </ul>
  </div>
</footer>