<div class="container">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-lg-start">
    <a href="/"><div
        class="d-flex align-items-center mb-2 mb-lg-0"
        style="width: 150px;
        height: 50px;
        background-image: url(/src/logo-dilly-branco.png);
        background-position-x: center;
        background-size: cover;"></div></a>
  </div>
</div>