<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev - Ordem de Serviço</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
  </head>

  <body>
    <header class="p-3 bg-dark text-white" style="padding: 10px !important">
      <%- include('../partials/_header') %>
    </header>
    <section>
      <div class="container">
        <p class="lead">Cadastro de funções</p>        
        <form id="formFuncao" action="/pagCadastroFuncao" method="post">
          <div class="row g-3">
            <div class="form-group col-md-6">
              <label for="funcao">Função</label>
              <input type="text" class="form-control" name="funcao" id="funcao" placeholder="Nome da função">
            </div>

            <!--
              Validação para aceitar apenas números e já entregar no formato XXX-XX
              Validação para submeter apenas quando os dois campos estiverem preenchidos
            -->

            <div class="form-group col-md-6">
              <label for="cbo">CBO</label> 
              <input type="text" pattern="[0-9]+" class="form-control" name="cbo" id="cbo" placeholder="CBO da função">
            </div>
          </div> <!-- row end -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="incluir">Incluir</button>
          </div>
          <!-- alert -->
          <div class="alert alert-danger alert-size d-none" id="erro">
            <strong>Atenção!</strong> Digite o nome da função.
          </div>
        </form>
        <hr>
        <p class="lead">Funções cadastradas</p>
        # incluir tabela com funções cadastradas #
      </div>
    </section>

    <!-- <%- include('../partials/_footer') %> -->
    
    <!-- Scripts -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/validacao.js"></script>
  </body>

</html>