<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dev - Ordem de Serviço</title>
  <link href="../../css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="../../css/style.css" rel="stylesheet">
</head>

<body>
  <header class="p-3 bg-dark text-white" style="padding: 10px !important">
    <%- include('../partials/_header') %>
  </header>
  <section>
    <div class="container">
      <p class="lead">Cadastro de setores</p>
      <div class="row">
        <div class="col-4">
          <form id="formSetor" action="/pages/cadastro/cadastroSetor.html" method="post">
            <div class="form-group">
              <label for="setor">Setor</label>
              <input type="text" class="form-control" name="setor" id="setor" placeholder="Insira o nome do setor">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="incluir">Incluir</button>
            </div>
            <!-- alert -->
            <div class="alert alert-danger alert-size d-none" id="erro">
              <strong>Atenção!</strong> Digite o nome do setor.
            </div>
          </form>
        </div>
      </div>
      <hr>
      <p class="lead">Setores cadastrados</p>
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Setor</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
    </div>
  </section>

  <footer>
    <%- include('../partials/_footer') %>
  </footer>

  <!-- Scripts -->
  <script src="../../js/jquery.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../js/validacao.js"></script>
</body>

</html>