<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emissão de Documentos de SST</title>
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
      />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="p-3 bg-dark text-white" style="padding: 10px !important">
      <%- include('../partials/_header') %> 
    </header>

    <div class="container">
      <section>
          <h3 class="container text-center" style="margin-top: 20px">Ordem de Serviço de Segurança</h3>
          <div class="row g-4 py-5">
            <div class="col d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-regular fa-file-lines"></i>
              </div>
              <a href=".\pages\ordem-servico\cadastroSetor">
                <div>
                  <h5 class="fw-bold mb-0">Cadastrar Setor</h5>
                </div>
              </a>
            </div>
        
            <div class="col d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-regular fa-file-lines"></i>
              </div>
              <a href=".\pages\ordem-servico\cadastroFuncao">
                <h5 class="fw-bold mb-0">Cadastrar Função</h5>
              </a>
            </div>
        
            <div class="col d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-regular fa-file-lines"></i>
              </div>
              <a href=".\pages\ordem-servico\cadastroOrdem">
                <h5 class="fw-bold mb-0">Cadastrar Ordem</h5>
              </a>
            </div>
        
            <div class="col d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-solid fa-file-export"></i>
              </div>
              <a href=".\pages\ordem-servico\emitirOrdem">
                <div>
                  <h5 class="fw-bold mb-0">Emitir Ordem</h5>
                </div>
              </a>
            </div>        
          </div> 

          <h3 class="container text-center" style="margin-top: 20px">Emissão de Certificado</h3>
          <div class="row g-4 py-5">
            <div class="col d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-regular fa-file-lines"></i>
              </div>
              <a href="pages\cadastro\cadastroSetor.html">
                <div>
                  <h5 class="fw-bold mb-0">Cadastrar Instrutor</h5>
                </div>
              </a>
            </div>
        
            <div class="col d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-regular fa-file-lines"></i>
              </div>
              <a href="pages\cadastro\cadastroFuncao.html">
                <h5 class="fw-bold mb-0">Cadastrar Certificado</h5>
              </a>
            </div>
        
            <div class="col-4 d-flex align-items-center btn btn-info box-margin btn-titulo">
              <div class="icon">
                <i class="fa-solid fa-file-export"></i>
              </div>
              <a href="pages\ordem-servico\cadastroOrdem.html">
                <h5 class="fw-bold mb-0">Emitir Certificado</h5>
              </a>
            </div>        
              
          </div> 
      </section>   
    </div> <!-- .container end -->

    <!-- <%- include('../partials/_footer') %> -->

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
